
body {
    margin-top: 60px; 
    background-image: url("https://img.freepik.com/premium-vector/abstract-dusty-blush-liquid-watercolor-background-with-white-ginkgo-leaves_353323-352.jpg"); 
    background-size:auto; 
    background-position: center; 
  }
  .jumbotron{
    text-align: center;

  }
  
  h1 {
    font-family:'Times New Roman', Times, serif; 
    font-size: 50px; 
    text-decoration: underline; 
    text-decoration: italic; 
    color: #FF5733; 
  }
  
  h3 {
    font-family:'Times New Roman', Times, serif; 
    font-size: 30px; 
    color: #2E86C1; 
  }
  

  .thick-border {
    border-color: grey; 
    border-radius: 10px; 
    border-width: 5px; 
  }
  

  .button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  }
  

  .button:hover {
    transform: translateY(-3px); 
    background-color: #F9E79F; 
  }
  
  
  .transition {
    transition: all 0.3s ease; 
  }
  
